@import "tailwindcss";

@layer utilities {
  .gradient-border {
    position: relative;
    z-index: 0;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* Adjust border thickness here */
    background: linear-gradient(to right, #2a7b9b, #57c785, #eddd53);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: inherit; /* keep corners consistent */
  }
}
